flows_mqtt.json
[
    {
        "id": "dbb5819fea573274",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e64b9b3d7bc30e66",
        "type": "mqtt in",
        "z": "dbb5819fea573274",
        "name": "",
        "topic": "demodata/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c11f4c086e85fa19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "d02a8fb2b338ba32",
                "47564e9559757606"
            ]
        ]
    },
    {
        "id": "d02a8fb2b338ba32",
        "type": "debug",
        "z": "dbb5819fea573274",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "47564e9559757606",
        "type": "ui_gauge",
        "z": "dbb5819fea573274",
        "name": "",
        "group": "bc357e2b5a8bb999",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "eda6a52e20f05a6a",
        "type": "mqtt in",
        "z": "dbb5819fea573274",
        "name": "",
        "topic": "demodata/hump",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c11f4c086e85fa19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "15a59de5eb07dfbb",
                "519c60a4c5c72cf6"
            ]
        ]
    },
    {
        "id": "15a59de5eb07dfbb",
        "type": "debug",
        "z": "dbb5819fea573274",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 400,
        "y": 480,
        "wires": []
    },
    {
        "id": "519c60a4c5c72cf6",
        "type": "ui_gauge",
        "z": "dbb5819fea573274",
        "name": "",
        "group": "7db3ea6510593342",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "c11f4c086e85fa19",
        "type": "mqtt-broker",
        "name": "mybroker",
        "broker": "188.120.255.133",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bc357e2b5a8bb999",
        "type": "ui_group",
        "name": "demodata/t",
        "tab": "b7dad1f945af662b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7db3ea6510593342",
        "type": "ui_group",
        "name": "demodata/h",
        "tab": "b7dad1f945af662b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7dad1f945af662b",
        "type": "ui_tab",
        "name": "MQTT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]